@model List<DataAccess.Model.Product>

@foreach (var product in Model)
{
    <a href="/Product/Details/@product.Id">
        <div class="container row">
            <div class="col-6">
                @product.Name
                <br />
                @product.Description
                <br />
                <a class="btn btn-primary" href="/Order/AddItem/@product.Id"> Add To Cart</a>
                <br />
            </div>
            <div class="col-6">
                @product.Price
            </div>
        </div>
    </a>
    <br />

}

   